/.DS_Store
/._arrange_dataset.py
/._car_exit.py
/._crop_plate_extract.py
/._crop_plate_extract_orig.py
/._crop_plate_extract_orig1.py
/._dataset
/._license_plate.yaml
/._payment_success.py
/._plates
/._plates_log.csv
/._webcam_detect.py
/._yolov8n.pt
/._car_entry.py
/arrange_dataset.py
/car_exit.py
/crop_plate_extract.py
/crop_plate_extract_orig.py
/crop_plate_extract_orig1.py
/dataset
/license_plate.yaml
/payment_success.py
/plates
/plates_log.csv
/trained
/webcam_detect.py
/venv
venv
